{% extends 'core/mecanicos/base.html' %}
{% load static %}

{% block contenido %}
<h3>Lista de mecánicos</h3>
<br>
{% for aux in page_obj %}
<div class="preview-item border-bottom">
    <div class="preview-thumbnail">
    </div>
    <div class="preview-item-content d-sm-flex flex-grow">
        
        <div class="flex-grow">
            <h6 class="preview-subject">{{ aux.nombre_mecanico }} {{ aux.apellido_mecanico}}</h6>
            <p class="text-muted mb-0">Email: {{ aux.correo_mecanico }}</p>
            <p class="text-muted mb-2 my-2">Cantidad de mantenciones: {{ aux.cant_mantenciones_mec }}</p>
        </div>
        {% if user.is_staff %}
        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
            <a href="{% url 'mecanicoupdate' aux.id %}" class="btn btn-warning">Modificar</a>
            <a onclick="confirmarDelete({{ aux.id }})" class="btn btn-danger">Eliminar</a>
        </div>
        {% endif %}
    </div>
</div>
<br>
{% endfor %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
       {% if page_obj.has_previous %}
       <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
       <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
       {% endif %}

       {% for num in page_obj.paginator.page_range %}
       {% if page_obj.number == num %}
       <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
       {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
       <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
       {% endif %}
       {% endfor %}

       {% if page_obj.has_next %}
       <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
       <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
       {% endif %}
    </ul>
 </nav>
{% endblock %}

{% block js %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/funciones.js' %}"></script>

{% endblock %}