{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(../static/core/inicio/img/carousel-bg-2.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Galería</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container-fluid pt-3 mx-1 text-center">
    {% for aux in lista %}
        {% if aux.estado_publicacion == "A" %}
            <a href="{% url 'trabajo' aux.id %}" class=""><img class="img-fluid" src="../../../media/{{ aux.foto }}" alt="" width="300" height="300"></a>
        {% endif %}
    {% endfor %}
</div>
<hr>
    
{% endblock %}