{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<div class="row pt-3 mx-1 text-center">
    <div class="col-sm-3 mb-1">
        <a href="trabajo1.html">
            <img class="img-fluid" src="{% static 'core/img/imagen 1.jpg' %}" alt="" width="300" height="300">
        </a>
    </div>
    <div class="col-sm-3 mb-1">
        <a href="trabajo2.html">
            <img class="img-fluid" src="{% static 'core/img/imagen 2.jpg' %}" alt="" width="300" height="300">
        </a>
    </div>
    <div class="col-sm-3 mb-1">
        <a href="trabajo3.html">
            <img class="img-fluid" src="{% static 'core/img/imagen 3.jpg' %}" alt="" width="300" height="300">
        </a>
    </div>
    <div class="col-sm-3 mb-1">
        <img class="img-fluid" src="https://via.placeholder.com/300" alt="">
    </div>
</div>
<hr>
<div class="row mx-1 text-center">
    <div class="col-sm-3 mb-1">
        <img class="img-fluid" src="https://via.placeholder.com/300" alt="">
    </div>
    <div class="col-sm-3 mb-1">
        <img class="img-fluid" src="https://via.placeholder.com/300" alt="">
    </div>
    <div class="col-sm-3 mb-1">
        <img class="img-fluid" src="https://via.placeholder.com/300" alt="">
    </div>
    <div class="col-sm-3 mb-1">
        <img class="img-fluid" src="https://via.placeholder.com/300" alt="">
    </div>
</div>
<hr>
<div class="row mx-1 text-center">
    <div class="col-sm-3 mb-1">
        <img class="img-fluid" src="https://via.placeholder.com/300" alt="">
    </div>
    <div class="col-sm-3 mb-1">
        <img class="img-fluid" src="https://via.placeholder.com/300" alt="">
    </div>
    <div class="col-sm-3 mb-1">
        <img class="img-fluid" src="https://via.placeholder.com/300" alt="">
    </div>
    <div class="col-sm-3 mb-1">
        <img class="img-fluid" src="https://via.placeholder.com/300" alt="">
    </div>
</div>
<hr>
{% endblock %}