{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Contratos</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">USUARIO</th>
                        <th scope="col">ID PAGO</th>
                        <th scope="col">FECHA PAGO</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for aux in lista %}
                    <tr>
                        <td>{{ aux.id }}</td>
                        <td>{{ aux.usuario }}</td>
                        <td>${{ aux.id_pago }}</td>
                        <td>{{ aux.fecha|date:"SHORT_DATE_FORMAT" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}