{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(../static/core/inicio/img/carousel-bg-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Nosotros</h1>
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Nosotros</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 pt-4" style="min-height: 400px;">
                <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'core/inicio/img/about.jpg' %}" style="object-fit: cover;"
                        alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="text-primary text-uppercase">// Nosotros //</h6>
                <h1 class="mb-4"><span class="text-primary">Taller Rayo Makween: </span> Tu Aliado en el Cuidado Automotriz</h1>
                <p class="mb-4">En Taller Rayo Makween, nos dedicamos a ofrecer un servicio automotriz integral con la más alta calidad. 
                    Nuestro equipo de expertos mecánicos está capacitado para atender todas tus necesidades vehiculares, desde mantenimiento 
                    rutinario hasta reparaciones complejas. Utilizamos tecnología de punta y piezas de repuesto originales para asegurar que 
                    tu auto funcione a la perfección y con seguridad.
                    Nos enorgullece ofrecer una atención personalizada y transparente, donde cada cliente recibe un diagnóstico detallado y 
                    opciones claras para la reparación de su vehículo. Además, en Taller Rayo Makween valoramos tu tiempo, por lo que trabajamos 
                    de manera eficiente para que vuelvas a estar en la carretera lo antes posible.
                    Confía en Taller Rayo Makween, donde la excelencia y la satisfacción del cliente son nuestras principales prioridades. 
                    Tu vehículo está en las mejores manos.</p>
                <div class="row g-4 mb-3 pb-3">
                    <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex">
                            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                style="width: 45px; height: 45px;">
                                <span class="fw-bold text-secondary">01</span>
                            </div>
                            <div class="ps-3">
                                <h6>Mecánicos especializados</h6>
                                <span>Nuestros mecánicos se aseguran el máximo rendimiento de tu vehículo.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex">
                            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                style="width: 45px; height: 45px;">
                                <span class="fw-bold text-secondary">02</span>
                            </div>
                            <div class="ps-3">
                                <h6>Centro de servicio de calidad</h6>
                                <span>Nosotros tenemos un gran servicio de calidad para tu auto.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Nuestros Técnicos //</h6>
            <h1 class="mb-5">Nuestros Técnicos Expertos</h1>
        </div>
        
        <div class="row g-4">
            {% for aux in lista %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        {% if aux.foto_mecanico %}
                        <img class="img-fluid" src="{{ aux.foto_mecanico.url }}" alt="">
                        {% else %}
                        <img class="img-fluid" src="{% static 'core/img/Default.png' %}" alt="">
                        {% endif %}
                        <div class="team-overlay position-absolute start-0 top-0 w-100 h-100">
                            <a class="btn btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="fw-bold mb-0">{{ aux.nombre_mecanico }} {{ aux.apellido_mecanico }}</h5>
                        <small>Cantidad de mantenciones: {{ aux.cant_mantenciones_mec }}</small>
                        <a href="{% url 'mecanico_trabajo' aux.id %}" class="btn btn-primary my-3">Ver trabajos</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->

{% endblock %}