{% extends 'core/base.html' %}
{% load static %}

{% block extra_styles %}
<style>
    @media print {
        /* Ocultar elementos no deseados en la impresión */
        .no-print {
            display: none;
        }
    }
</style>
{% endblock %}

{% block contenido %}
<h1>VOUCHER</h1>
<ul>
    <li>ID: {{ id }}</li>
    <li>USUARIO: {{ usuario }}</li>
    <li>ID PAGO: {{ id_pago }}</li>
    <li>TOKEN: {{ id_token }}</li>
    <li>FECHA: {{ fecha|date:"SHORT_DATE_FORMAT" }}</li>
    <li>NOMBRE: {{ nombre }}</li>
    <li>EMAIL: {{ email }}</li>
    <li>ID CARRITO: {{ id_carrito }}</li>
    <li>CODIGO PAIS: {{ cod_pais }}</li>
    <li>PAIS: {{ pais }}</li>
    <li>CODIGO POSTAL: {{ cod_postal }}</li>
    <li>TOTAL: {{ total }} USD</li>
</ul>
<button class="btn btn-primary no-print" onclick="window.print()">Imprimir</button>
<a href="{% url 'generar_pdf_voucher' id %}" class="btn btn-success no-print">Generar PDF</a>
<button class="btn btn-secondary no-print" onclick="window.history.back()">Volver</button>
{% endblock %}