{% extends 'core/mecanicos/base.html' %}
{% load static %}
{% block contenido %}
<h1 class="text-center mb-2">Lista de proyectos</h1>
<br>
{% for aux in lista %}
<div class="preview-item border-bottom">
    <div class="preview-thumbnail">
    </div>
    <div class="preview-item-content d-sm-flex flex-grow">
        <div class="flex-grow">
            <h6 class="preview-subject">{{ aux.nombre_trabajo }}</h6>
            <p class="text-muted mb-0">Mecánico responsable: {{ aux.mecanico }}</p>
            {% if user.is_staff %}
            <a href="{% url 'trabajoupdate' aux.id %}" class="mb-3 my-2 btn btn-primary">Revisar</a>
            {% endif %}
            {% if aux.estado_publicacion == 'R' %}
            <p class="mb-2 my-1">Motivo de rechazo: {{ aux.comentario_admin }}</p>
            {% endif %}
        </div>
        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
            <h6 class="preview-subject">Estado</h6>
            {% if aux.estado_publicacion == 'P' %}
            <button type="button" class="btn btn-secondary active mb-3 my-1">PENDIENTE</button>
            {% elif aux.estado_publicacion == 'A' %}
            <button type="button" class="btn btn-success active mb-3 my-1">ACEPTADO</button>
            {% elif aux.estado_publicacion == 'R' %}
            <button type="button" class="btn btn-danger active mb-3 my-1">RECHAZADO</button>
            {% endif %}
        </div>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}